<!DOCTYPE html>
<!--[if IE 7]>
<html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head>
    <title>Unify | Welcome...</title>

    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="/assets/css/headers/header1.css"/>
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="/assets/css/style_responsive.css"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.css"/>
    <!-- CSS Theme -->
    <link rel="stylesheet" href="/assets/css/themes/default.css" id="style_color"/>
    <!--<link rel="stylesheet" href="/assets/css/themes/headers/default.css" id="style_color-header-1" />-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body>
<!--top 引入-->
<div th:include="top::top"></div>

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="color-green pull-left">登录</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/yxw/index">Home</a> <span class="divider">/</span></li>
            <li><a href="">Pages</a> <span class="divider">/</span></li>
            <li class="active">Login</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
    <div class="row-fluid">
        <!--action="/yxw/loginIn" method="post" -->
        <form class="log-page" action="/member/login" method="post"/>
        <h3>登录账户</h3>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <input class="input-xlarge" type="text" id="stuUsername" name="stuUsername" placeholder="用户名"/>
        </div>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i></span>
            <input type="hidden" th:value="${publicKey}" name="publicKey" id="publicKey"/>
            <input class="input-xlarge" type="password" id="password" name="password" placeholder="密  码"/>
            <input class="input-xlarge" type="hidden" id="stuPassword" name="stuPassword"/>
        </div>
        <div class="controls form-inline">
            <label class="checkbox"><input type="checkbox" id="remember" name="remember"/>记住密码</label>
            <button class="btn-u pull-right" type="submit"  onclick="return passwordEncrypt() ">登录</button>
        </div>
        <hr/>
        <h5>忘记密码?</h5>
        <p>不要紧, <a class="color-green" href="#">点击这里</a> 重新设置密码.</p>
        </form>
    </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->


<!--footer 引入-->
<div th:include="footer::footer"></div>

<!-- JS Global Compulsory -->
<script type="text/javascript" src="/assets/js/jquery-1.8.2.min.js"></script>
<!--前端加密-->
<script type="text/javascript" src="/assets/js/yxw/jsencrypt.min.js"></script>
<script type="text/javascript" src="/assets/js/yxw/jsencrypt_yxw.js"></script>
<script type="text/javascript" src="/assets/js/yxw/microsoft.js"></script>
<script type="text/javascript" src="/assets/js/yxw/language.js"></script>

<script type="text/javascript" src="/assets/js/modernizr.custom.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        App.init();
    });
</script>
<!--[if lt IE 9]>
<script src="/assets/js/respond.js"></script>
<![endif]-->
<div style="display:none">
    <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
</div>
</body>
</html> 