<!DOCTYPE html>
<!--[if IE 7]>
<html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head>
    <title>Unify | Welcome...</title>

    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="/assets/css/headers/header1.css"/>
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="/assets/css/style_responsive.css"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.css"/>
    <!-- CSS Theme -->
    <link rel="stylesheet" href="/assets/css/themes/default.css" id="style_color"/>
    <!--<link rel="stylesheet" href="/assets/css/themes/headers/default.css" id="style_color-header-1" />-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body>
<!--top 引入-->
<div th:include="top::top"></div>
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-20">
    <div class="container">
        <h1 class="color-green pull-left">Clients</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/yxw/index">Home</a> <span class="divider">/</span></li>
            <li><a href="">Pages</a> <span class="divider">/</span></li>
            <li class="active">Clients</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
    <div class="row-fluid">
        <div class="span9">
            <div class="headline"><h3>Our Clinets</h3></div>
            <div class="clients-page margin-bottom-20">
                <a class="img-hover" href="#">
                    <img src="/assets/img/clients/cisco_grey.png" alt=""/>
                    <img src="/assets/img/clients/cisco.png" class="img-colorful" alt=""/>
                </a>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                    fuga. Et harum quidem rerum facilis est etenim a feugiat. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
                    Pellentesque viverra vehicula sem ut volutpat. Integer sed arcu. <a class="linked color-green"
                                                                                        href="#">htttp://www.example.com</a>
                </p>
            </div>
            <div class="clients-page margin-bottom-20">
                <a class="img-hover" href="#">
                    <img src="/assets/img/clients/cocacola_grey.png" alt=""/>
                    <img src="/assets/img/clients/cocacola.png" class="img-colorful" alt=""/>
                </a>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                    fuga. Et harum quidem rerum facilis est etenim a feugiat. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
                    Pellentesque viverra vehicula sem ut volutpat. Integer sed arcu. <a class="linked color-green"
                                                                                        href="#">http://www.example.com</a>
                </p>
            </div>
            <div class="clients-page margin-bottom-20">
                <a class="img-hover" href="#">
                    <img src="/assets/img/clients/hp_grey.png" alt=""/>
                    <img src="/assets/img/clients/hp.png" class="img-colorful" alt=""/>
                </a>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                    fuga. Et harum quidem rerum facilis est etenim a feugiat. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
                    Pellentesque viverra vehicula sem ut volutpat. Integer sed arcu. <a class="linked color-green"
                                                                                        href="#">http://www.example.com</a>
                </p>
            </div>
            <div class="clients-page margin-bottom-20">
                <a class="img-hover" href="#">
                    <img src="/assets/img/clients/shell_grey.png" alt=""/>
                    <img src="/assets/img/clients/shell.png" class="img-colorful" alt=""/>
                </a>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                    fuga. Et harum quidem rerum facilis est etenim a feugiat. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
                    Pellentesque viverra vehicula sem ut volutpat. Integer sed arcu. <a class="linked color-green"
                                                                                        href="#">http://www.example.com</a>
                </p>
            </div>
            <div class="clients-page margin-bottom-20">
                <a class="img-hover" href="#">
                    <img src="/assets/img/clients/vadafone_grey.png" alt=""/>
                    <img src="/assets/img/clients/vadafone.png" class="img-colorful" alt=""/>
                </a>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                    fuga. Et harum quidem rerum facilis est etenim a feugiat. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
                    Pellentesque viverra vehicula sem ut volutpat. Integer sed arcu. <a class="linked color-green"
                                                                                        href="#">http://www.example.com</a>
                </p>
            </div>
        </div><!--/span9-->

        <div class="span3">
            <!-- Our Services -->
            <div class="who margin-bottom-30">
                <div class="headline"><h3>Our Services</h3></div>
                <p>At vero eos et accusamus et iusto odio dign issimos ducimus qui blanditiis iusto.</p>
                <ul class="unstyled">
                    <li><a href="#"><i class="icon-desktop"></i>Vivamus imperdiet condimentum</a></li>
                    <li><a href="#"><i class="icon-bullhorn"></i>Anim pariatur cliche squid</a></li>
                    <li><a href="#"><i class="icon-globe"></i>Eget placerat felis consectetur</a></li>
                    <li><a href="#"><i class="icon-group"></i>Condimentum diam eget placerat</a></li>
                </ul>
            </div>

            <!-- About Us -->
            <div class="headline"><h3>About Us</h3></div>
            <p class="margin-bottom-30">At vero eos et acc usamus et iusto odio dign issimos ducimus atque corrupti quos
                dolores etrerum facilis est etenim a feugiat cupiditate non quos. <a class="read-more" href="#">Read
                    more</a></p>

            <!-- Contact Us -->
            <div class="who margin-bottom-30">
                <div class="headline"><h3>Contact Us</h3></div>
                <p>Vero facilis est etenim a feugiat cupiditate non quos etrerum facilis.</p>
                <ul class="unstyled">
                    <li><a href="#"><i class="icon-home"></i>5B amus ED554, New York, US</a></li>
                    <li><a href="#"><i class="icon-envelope-alt"></i>infp@example.com</a></li>
                    <li><a href="#"><i class="icon-phone-sign"></i>1(222) 5x86 x97x</a></li>
                    <li><a href="#"><i class="icon-globe"></i>http://www.example.com</a></li>
                </ul>
            </div>
        </div><!--/span3-->
    </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->

<!--footer 引入-->
<div th:include="footer::footer"></div>

<!-- JS Global Compulsory -->
<script type="text/javascript" src="/assets/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/assets/js/modernizr.custom.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        App.init();
    });
</script>
<!--[if lt IE 9]>
<script src="/assets/js/respond.js"></script>
<![endif]-->
<div style="display:none">
    <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
</div>
</body>
</html> 